body, body *,
header, header *,
nav, nav *,
article, article *,
footer, footer * {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	background: #f4f4f4;
}

header {
	background: #fcaf3e;
}

header h1 {
	color: #fff;
	padding-left: 5%;
}

nav {
	background: #333;
	padding: 5px 10px;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
	border: 2px #fff solid;
	border-radius: 10px;
	margin: 2px 2px;
}

nav li:hover {
	border-color: #fcaf3e;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 10px 10px;
}

nav a:hover {
	color: #fcaf3e;
}



.container-header {
	padding: 10px 1%;
	background-color: #3465a4;
	color: #fff;
}

.container {
	padding: 5px 5px;
}

.input-form-container {
	margin: 5px 5px;
	text-align: center;
}

.input-form {
	display: inline-block;
	background-color: #d3d7cf;
	border: 1px black solid;
	border-radius: 10px;
	text-align: left;
}

.input-form-header {
	text-align: center;
}

.input-form-row {
	margin: 5px 5px;
}

.input-form-row input{
	width: 300px;
	border-radius: 10px;
	padding: 1px 10px;
	background-color: #555753;
	color: #FFF;
}

.hvr:hover {
	background-color: blue;
}

.test {
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: #eeeeec;
	border: 1px #888a85 solid;
}

.sb-field {
	border: 1px solid black;
	display: inline-block;
}

.sb-element {
	width: 30px;
	height: 30px;
	background-color: #eeeeec;
}

.sb-our-ship {
	background-color: blue;
}

.sb-enemy-ship {
	background-color: red;
}

.sb-target:hover {
	background-image: url('resources/target.png');
	background-size: 30px  30px;
	background-repeat: no-repeat;
	background-position: center center;
}

.sb-hit {
	background-image: url('resources/hit.png');
	background-size: 30px  30px;
	background-repeat: no-repeat;
	background-position: center center;
}

.sb-miss {
	background-image: url('resources/miss.png');
	background-size: 30px  30px;
	background-repeat: no-repeat;
	background-position: center center;
}